{{#> layout changeLogPage=true}}

<h1 class="h2 mb-5">Changelog</h1>

<h4 class="mb-3">2021-09-19</h4>
<ul class="mb-4">
    <li>Added the changelog</li>
    <li>Added the contact page</li>
</ul>

<h4 class="mb-3">2021-09-18</h4>
<ul class="mb-4">
    <li>Launched initial version</li>
</ul>

{{/layout}}