---
title: Changelog - Code to HTML
layout: default.njk
permalink: /changelog.html
---

<h1 class="h2 mb-5">Changelog</h1>

{% for item in changelog %}
    <div class="mb-4">
        <h4 class="mb-3">{{ item.date }}</h4>
        <ul>
            {% for change in item.changes %}
            <li>
                {{ change }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
