---
title: Code to HTML
layout: default.njk
permalink: /
---

<div class="row">
    <div class="col-6">

        <div class="mb-3">
            <label class="form-label">Language:</label>
            <select class="form-select language-input">
            </select>
        </div>

        <label class="form-label mt-4" for="code">Code:</label>
        <textarea class="form-control code-input" rows="14" id="code" style="resize: none;">
<!DOCTYPE html>
<html>
<head>
<title>Name of the website</title>
</head>

<body>
<h1>Heading for the content below</h1>
<p>Text text text</p>
&lt;/body&gt;

</html>
    </textarea>
    </div>
    <div class="col-6 d-flex flex-column">
        <div class="mb-3">
            <label class="form-label">Theme:</label>
            <select class="form-select theme-input">
            </select>
        </div>
        <label class="form-label mt-4">Preview:</label>

        <div class="code-preview d-flex flex-column flex-grow-1">
            <pre class="hljs p-3 mb-0 flex-grow-1"> </pre>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center mt-4">
    <button class="btn btn-secondary btn-lg" id="generate">Generate HTML</button>
</div>
<div class="modal generate-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Code to HTML</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Your HTML code is ready. Copy the result to the clipboard or download it
                    as
                    file.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-copy-to-clipboard">Copy to
                    clipboard</button>
                <button type="button" class="btn btn-primary btn-download">Download file</button>
            </div>
        </div>
    </div>
</div><!-- .modal -->
<div class="position-fixed top-0 end-0 p-3">
    <div class="toast copied-to-clipboard-toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            The generated code is successful copied to clipboard.
        </div>
    </div><!-- .toast -->
</div>