@import "custom";
@import "~bootstrap/scss/bootstrap";

.dropdown-menu
 {
   max-height: 200px;
   overflow-y: scroll;
  }

.fill-gray-700 {
  fill: $gray-700;
}

.text-gray-700 {
  color: $gray-700;
}

.link-gray-700 {
  color: $gray-700;
  &:hover {
    color: $gray-700;
  }
}

.fill-primary {
  fill: $primary;
}

.fill-secondary {
  fill: $secondary;
}

.theme {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
